{% extends '::base.html.twig' %}

{%  block body %}

    <ul>
        {% for post in posts %}
        <li> {post.title} from categorie : { post.category}</li>
            {% endfor %}
    </ul>

{% endblock %}