services:
#    boat.example:
#        class: BoatBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]
   admin.bateau:
        class: BoatBundle\Admin\BateauAdmin
        arguments: [~, BoatBundle\Entity\Bateau, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: bateaux, group: Bateaux }
        public: true