services:
#    stage.example:
#        class: StageBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]
    admin.voyage:
        class: StageBundle\Admin\VoyageAdmin
        arguments: [~, StageBundle\Entity\Voyage, ~]
        tags:
            - { name: sonata.admin, manager_type: orm, label: voyages, group: Stage }
        public: true